In [2]:
import numpy as np
import pandas as pd

In [ ]:
#Liste os primeiros 10 itens do dataset.

df = pd.read_csv('NetflixTvMovies.csv')

df[:10] #lista os 10 primeiros itens do dataset

In [ ]:
#listas os 10 ultimos itens do dataset

df[-10:] #lista os 10 ultimos itens do dataset

In [ ]:
#Qual o filme com o maior imdb_score e qual o filme com o pior imdb_score? 
from IPython.display import display #para exibir o dataframe de forma mais bonita =)

maior_score = df[df['imdb_score'] == df['imdb_score'].max()] #filme com maior imdb_score
print("Filme com maior score: ")
display(maior_score)

menor_score = df[df['imdb_score'] == df['imdb_score'].min()] #filme com menor imdb_score
print("\n")
print("Filme com menor score: ")
display(menor_score)

In [26]:
#Qual a média de duração dos shows de TV e duração de filmes?

print(len(df)) #imprime o tamanho do dataset
print("--")
print(df['type'].unique()) #imprime os tipos de conteudo type do dataset
print("--")

filmes = df[df['type'] == 'MOVIE'] #filtra os filmes
media_filmes = round(filmes['runtime'].mean(), 2) #calcula a media de duração dos filmes
print("Quantidade de filmes: ", len(filmes)) #imprime a quantidade de filmes
print(f"Média de duração dos filmes: {media_filmes} minutos") #imprime a média de duração dos filmes
print("--")

tv = df[df['type'] == 'SHOW'] #filtra os shows de TV
media_tv = round(tv['runtime'].mean(), 2) #calcula a media de duração dos shows de TV
print("Quantidade de Shows de TV: ", len(tv)) #imprime a quantidade de shows de TV
print(f"Média de duração dos Shows de TV: {media_tv} minutos") #imprime a média de duração dos shows de TV

5283
--
['MOVIE' 'SHOW']
--
Quantidade de filmes:  3407
Média de duração dos filmes: 101.54 minutos
--
Quantidade de Shows de TV:  1876
Média de duração dos Shows de TV: 38.63 minutos

In [29]:
#Qual o show de TV com maior duração por episódio e o filme com duração mais longa?

# Show de TV com maior duração por episódio
maior_duracao_tv = tv[tv['runtime'] == tv['runtime'].max()] 
print("Show de TV com maior duração por episódio: ")
display(maior_duracao_tv)

# Filme com maior duração
maior_duracao_filme = filmes[filmes['runtime'] == filmes['runtime'].max()]
print("Filme com maior duração: ")
display(maior_duracao_filme)

Show de TV com maior duração por episódio:

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
3598,3598,ts90995,1994,SHOW,Archival video and new interviews examine Mexi...,2019,TV-MA,178,tt10243640,7.5,514.0

Filme com maior duração:

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
24,24,tm76557,No Longer Kids,MOVIE,"By coincidence, Ahmad discovers that his fathe...",1979,NaN,235,tt8312792,9.0,943.0

In [31]:
#Qual ano apresentou a maior quantidade de filmes avaliados com imdb?

#Agrupa os filmes por ano e conta a quantidade de filmes avaliados com imdb
filmes_ano = filmes.groupby('release_year')['imdb_score'].count().reset_index()

#Filtra o ano com a maior quantidade de filmes avaliados com imdb
maior_qtd_filmes = filmes_ano[filmes_ano['imdb_score'] == filmes_ano['imdb_score'].max()]

print("Ano com a maior quantidade de filmes avaliados com imdb: ")
display(maior_qtd_filmes)

Ano com a maior quantidade de filmes avaliados com imdb:

    release_year  imdb_score
62          2019         469

In [32]:
#Quais as categorias encontradas de age_certification e qual a quantidade de filmes para cada categoria?

#Agrupa os filmes por categoria de age_certification e conta a quantidade de filmes para cada categoria
categorias = filmes.groupby('age_certification')['title'].count().reset_index()

print("Categorias de age_certification e quantidade de filmes para cada categoria: ")
display(categorias)

Categorias de age_certification e quantidade de filmes para cada categoria:

  age_certification  title
0                 G    105
1             NC-17     13
2                PG    238
3             PG-13    424
4                 R    548

In [33]:
#Quais colunas apresentam campos vazios? Qual a quantidade de campos vazios?

#Verifica se há campos vazios no dataset
campos_vazios = df.isnull().sum()

print("Colunas com campos vazios e quantidade de campos vazios: ")
display(campos_vazios)

Colunas com campos vazios e quantidade de campos vazios:

index                   0
id                      0
title                   0
type                    0
description             5
release_year            0
age_certification    2285
runtime                 0
imdb_id                 0
imdb_score              0
imdb_votes             16
dtype: int64