In [4]:
import numpy as np #importando numpy
import pandas as pd #importando pandas

Exercício com numpy e padas.
Ler dataset com Pandas e converter arrays para NumPy.

In [5]:
df = pd.read_csv('Salary_data.csv') #lendo o arquivo csv

df.head() #mostrando as primeiras linhas do arquivo

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [9]:
# Converter a coluna Salary para um array NumPy
anos = df['YearsExperience'].to_numpy()
salarios = df['Salary'].to_numpy()

In [10]:
salarios[:5] #mostrando os 5 primeiros salários

array([39343., 46205., 37731., 43525., 39891.])

In [11]:
anos[:5] #mostrando os 5 primeiros anos

array([1.1, 1.3, 1.5, 2. , 2.2])

In [16]:
#calcular a média dos salários
media_salarios = round(np.mean(salarios), 2)

#exibir a média dos salários
print(f"A média dos salários é: R${media_salarios}")

A média dos salários é: R$76003.0

In [17]:
#calcular a média do tempo de serviçop
media_anos = round(np.mean(anos), 2)

print(f"A média do tempo de serviço é: {media_anos} anos")

A média do tempo de serviço é: 5.31 anos